.pre-wrapper {
  border: 1px #000 solid;
  border-radius: 4px;
  background-color: #e4e7ec;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
}
.pre {
  margin-top: 0;
  margin-bottom: 0;
}
.copy-container {
  padding: 10px;
  cursor: pointer;
}
